.button {
  background-color: #888888;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 8px;
  z-index: 50;
  visibility = "invisible";
  opacity: 0.0;
}